@{
    ViewBag.Title = "Add Movie";
}

@model MovieApplication.Models.Movie

<div>
    <h1>Enter a New Movie</h1>
    <p>Enter your new movies here to have them appear in the database!</p>

    <form asp-action="AddMovie" method="post">

        @*All data to enter a new movie*@
        <div class="enterMovie">
            <label asp-for="Category">Category</label>
            <input asp-for="Category" /><br />

            <label asp-for="Title">Title</label>
            <input asp-for="Title" type="text" /><br />

            <label asp-for="Year">Year</label>
            <input asp-for="Year" type="number" /><br />

            <label asp-for="Director">Director</label>
            <input asp-for="Director" /><br />

            @* The default value (Select One) will be "N/A" *@
            <label asp-for="Rating">Rating</label>
            <select asp-for="Rating">
                <option value="">Select One</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select><br />

            @* The default value (Select One) will be "No" *@
            <label asp-for="Edited">Edited?</label>
            <select asp-for="Edited">
                <option>Select One</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br />

            <label asp-for="LentTo">Lent To</label>
            <input asp-for="LentTo" /><br />

            <label asp-for="Notes">Notes</label>
            <input asp-for="Notes" /><br /><br />

            <button type="submit" class="btn btn-primary">Save Movie</button><br />
        </div>
    </form>
</div>

