@{
    ViewBag.Title = "Confirmation";
}

<div>
    <h1>Thank you!</h1>
    <p>Your movie suggestion has been recieved! <a asp-action="MoviesList">Click here</a> to view all of your movie suggestions.</p>
    <div asp-validation-summary="All"></div>
</div>
