@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to the Movie App!</h1>
    <p>To view the full list of movies, <a asp-action="AddMovie">click here</a> or the button below.</p>
    <img src="~/img/JoelHilton.jpg" width="700px"/><br /><br />
    
    <a asp-action="AddMovie"><input type="button" class="btn btn-primary" value="Add Movie" /></a><br /><br /><br />
</div>
