@{
    ViewBag.Title = "Podcasts Page";
}

<div>
    <h1>My Portfolio</h1>
    <p>View my portfolio by clicking the image below!</p>
    <a asp-action="https://baconsale.com/"><img src="~/img/baconsale.png" width="1000px" /></a>
</div>
